#screen {
  height: 75%;
  position: relative;
  overflow: hidden;
  background-color: lightblue;
  z-index:0;
}

#bird {
  width :50px;
  height:50px;
  top:50%;
  background-color:red;
  position: absolute;
  left:100;
  z-index:90; 
  background: url('../images/kirby-sprite.png');
}

.scene {
  background: url('../images/flappy-background.png') repeat-x;
  display: inline-block;
  position: absolute;
}

.obstacle {
  width: 10%;  
  z-index:20;
  position: absolute;
}

.obstacle.top {
  top: 0;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg); 
  -o-transform:rotate(-180deg);  
  background: url('../images/flappy-balloons.png');
}

.obstacle.bottom {
  bottom: 0;
  background: url('../images/flappy-balloons.png');
}

.splash {
  width: 100%;
  height: 100%;
  background-color: lightblue;
}